{% assign categories = "" %}
{% for post in site.posts %}
    {% assign categories = categories | append: ',' | append: post.category %}
{% endfor %}
{% assign categories = categories | split: ',' | uniq %}
<ul>
    <li {% if page.layout == "home" %} class="selected" {% endif %}><a href="{{site.url}}">صفحه اصلی</a></li>
{% for category in categories %}
    <li {% if page.type == "category" and page.title == category %} class="selected" {% endif %}><a href="{{site.url}}/category/{{category | replace: "‌", "-"}}">{{ category }}</a></li>
{% endfor %}
</ul>