<meta charset="utf-8">
<meta name="author" content="{{site.author}}">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
{% if page.excerpt %}
<meta property="og:type" content="article">
<meta property="og:title" content="{{page.title}}">
<meta property="og:url" content="{{site.url}}{{page.url}}">
<meta property="og:description" content="{{page.excerpt | strip_html}}">
<meta name="description" content="{{page.excerpt | strip_html}}">
{% else %}
<meta property="og:type" content="website">
<meta property="og:title" content="{{site.name}}">
<meta property="og:description" content="{{site.description}}">
<meta name="description" content="{{page.excerpt | strip_html}}">
<meta property="og:url" content="{{site.url}}">
{% endif %}
<meta property="og:site_name" content="{{site.name}}">
<meta property="og:locale" content="fa_IR">
<meta name="twitter:site" content="@{{site.twitter}}">
<link rel="canonical" href="{{site.url}}{{page.url}}">
<link href="{{site.googleplus}}" rel="publisher">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="/feed.xml" />
<title> {{ site.name }} – {% if page.title %}{{ page.title }}{% else %}{{ site.description }}{% endif %} </title>
