$bg: #e6e6e6;
$content-bg: #f0f0f0;
$color: #505050;
$theme-color: #835B74;

$break-small: 960px;

*{
	margin: 0;
	padding:0;
	font-family: Vazir, Tahoma;
	direction: rtl;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	outline: none;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
}

html, body{
	background: $bg;
	color: $color;
	direction: rtl;
	font-size: 11pt;
	line-height: 1.8;
	&.dark{
		background: $color;
		color: $bg;
		& > *:not(#header){
			display: none;
		}
		& #header{
			color: $bg;
			height: 100vh;
			& > h1{
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
			}
			& > p{
				display: none;
			}
			& a svg{
				color: $bg;
				fill: $bg;
				width: 172px;
				height: 164px;
			}
		}
	}
}

h1 { font-size: 2em; }
h2 { font-size: 1.5em; }
h3 { font-size: 1.17em; }
h4 { font-size: 1.12em; }
h5 { font-size: .83em; }
h6 { font-size: .75em; }

.hidden{
	display: none;
}

a{
	color: $theme-color;
	text-decoration: none;
	cursor: pointer;
}
.b{
	font-weight: bold;
}

button, .likebutton{
	display: inline-block;
	min-width: 80px;
	padding: .3em 1em .6em 1em;
	background: $theme-color;
	border: none;
	border-bottom: solid 2px #5E3850;
	border-top: solid 2px transparent;
	color: #E6E6E6;
	cursor: pointer;
	font-size: .8em;
}
button:active, .likebutton:active{
	border-top: solid 2px #5E3850;
	border-bottom: solid 2px transparent;
}
button[disabled], .likebutton[disabled]{
	opacity: .8;
	cursor: not-allowed;
}

#header{
	padding: 2em 0;
	color: #4F4F4F;
	text-align: center;
	user-select: none;
}
	#header > h1{
		margin: 0 0 .3em 0;
	}
	#header > h1 > a{
		color: #4F4F4F;
		fill: #4F4F4F;
		transition: all .3s;
	}
	#header > h1 > a:hover{
		color: $theme-color;
		fill: $theme-color;
	}
	#header svg{
 		width: 86px;
		height: 82px;
		display: inline-block;
		vertical-align: middle;
		transition: all .3s;
	}
	#header > h5{
		font-weight: normal;
	}



#menu {
	color: #505050;
	padding: 2px 15px;
	background: $content-bg;
	border: solid 1px #D3D3D3;
	border-left: none;
	border-right: none;
	text-align: center;
	user-select: none;
}
	#menu > ul{
		list-style: none;
		padding: 1em 0;
	}
	#menu > ul > li{
		display: inline;
		padding: 1em;
		color: #737676;
		font-weight: bold;
		transition: all .3s;
	}
	#menu > ul > li.selected{
		color: $theme-color;
		font-weight: bold;
		text-decoration: underline;
	}
	#menu > ul > li:hover{
		color: $theme-color;
	}
	#menu > ul > li > a{
		color: inherit;
	}
	
#content{
	margin: 0 auto;
	padding-top: 2em;
	max-width: $break-small;
}
#content .post,
#content .pagination,
#content .minipost{
	margin: 0 auto 2em auto;
	padding: 1em;
}


#content .post,
#content .minipost{
	background: $content-bg;
	border: solid 1px #D3D3D3;
}


#content > .miniposts{
	&  > .title{
		margin: 0 .4em 1.4em .4em;
	}
	& > .minipost{
		height: 8em;
		line-height: 2em;
		float: right;
		width: 100%;
		& > .header > .title,
		& > .header,
		& > .body{
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
			user-select: none;
		}
		& > .body{
			height: 1.5em;
			line-height: 1.5em;
			cursor: default;
		}
	}
}

#content > .pagination{
	text-align: center;
	font-weight: bold;
	font-size: .9em;
}
#content > .pagination a .fa{
	margin: 0 .2em;
	vertical-align: middle;
}
#content > .pagination .sep{
	margin: 0 15px;
}

#content > .post > .header{
	$var-bg: rgba( $content-bg, 0.9 );
	padding: 1em;
	height: auto;
	display: block;
	width: 100%;
	text-align: right;
	background: $var-bg;
	position: sticky;
	top: 0;
	box-shadow: 0 15px 15px $var-bg;
}

#content > .post > .header > .title{
	color: $theme-color;
	margin-bottom: .4em;
	line-height: 1.4em;
}
#content .post > .header > h5,
#content .minipost > .header > h5{
	color: #676767;
	font-weight: normal;
	margin-left: 1.6em;
	display: inline-block;
}
#content > .post > .header > .tags a{
	margin-left: .5em;
}

#content > .post > .body, #content .post > .suggests{
	line-height: 25pt;
	padding: .3em 1em;
	color: #505050;
}
#content > .post > .body br{
	display: block;
	height: 2px;
}
#content > .post  hr{
	border: none;
	border-bottom: solid 1px #D3D3D3;
	width: 65%;
	margin: 2.5em auto;
}
#content .post > .body blockquote{
	padding: 1em 2em;
	margin: 1em 0;
	font-size: .9em;
	display: block;
	/* text-align: center; */
	color: #676767;
	border-right: solid 4px #CCC;
	background: #E9E9E9;
}
#content .post > .body blockquote:before,
#content .post > .body blockquote:after{
	font-family: fontello;
	display: inline;
	vertical-align: super;
	font-size: .9em;
}
#content .post > .body blockquote::before{
	margin-right: .7em;
}


#content .post > .body blockquote p{
	display: inline;
	text-align: justify;
}

#content .post > .body .read-more{
	color: #AD4721;
	font-weight: bold;
}

#content .post > .body p,
#content .post > .body ul{
	margin: 1em 0 1em 0;
	text-align: justify;
}
#content .post > .body p:before{
	content: ' ';
	display: inline-block;
	vertical-align: middle
}

#content .post > .comments{
	width: 100%;
	padding: .5em .5em 0em .5em;
	overflow: visible;
	height: auto;
}
#content .post > .comments.disabled{
	cursor: not-allowed;
	opacity: .3;
}
#content .post > .comments.disabled *{
	cursor: not-allowed;
}

#content .post > .suggests{
	text-align: center;
	margin: 0;
}
#content .post > .suggests > .suggest{
	font-weight: bold;
	font-size: 1.1em;
}
#content .post > .suggests > .suggest:not(:first-child):before{
	content: '، ';
	font-weight: normal;
	cursor: default;
	color: #505050;
}
#content .post > .suggests > .suggest:first-child:before{
	content: '';
}
#content .post > .suggests > .suggest:last-child:before{
	content: ' و ';
}

#_oss_container{
	display: none;
}

#content .post > .comments > .new-comment,
#content .post > .comments > .list{
	width: 50%;
	padding: 1em;
	font-size: 11pt;
}
#content .post > .comments > .new-comment{
	float: right;
}
#content .post > .comments > .list{
	float: left;
}


#content .post > .comments > .new-comment textarea,
#content .post > .comments > .new-comment input{
	display: block;
	width: 100%;
	padding: .5em;
	border: solid 1px #D3D3D3;
	margin-bottom: .5em;
}
#content .post > .comments > .new-comment input{
	padding-left: 7.5em;
}

#content .post > .comments > .new-comment textarea{
	min-height: 170px;
	resize: vertical;
}
#content .post > .comments > .new-comment > .add-comment-link{
	font-size: .8em;
	font-weight: bold;
	color: $theme-color;
	border-right: solid 2px #E6E6E6;
	padding-right: 1em;
	cursor: pointer;
	margin-top: -3.5em;
	margin-left: 1em;
	float: left;
	position: relative;
}
#content .post > .comments > .new-comment button{
	float: left;
}

#content .post > .comments > .list .comment,
#content .post > .comments > .list .no-comment{
	background: #E6E6E6;
	border: solid 1px #D3D3D3;
	padding: 1em;
	margin-bottom: .5em;
}
#content .post > .comments > .list .comment a{
	font-weight: bold;
	color: inherit;
}
#content .post > .comments > .list .comment > .name{
	color: $theme-color;
	font-weight: bold;
	float: right;
	margin-left: 5px;
}
#content .post > .comments > .list .comment > .name.me{
	color: #AD4721;
}
#content .post > .comments > .list .comment > .name:after{
	content: ': ';
}

.loading{
    background: url('../../images/loading.gif') no-repeat right center;
    color: $theme-color;
    width: 16px;
    height: 16px;
	display: inline-block;
}


.clear-both{
	clear: both;
}
.clickable{
	cursor: pointer;
}
.inline{
	display: inline;
}


@media screen and (max-width: $break-small) {
	#content > .post{
		border-left: none;
		border-right: none;
	}
}

