---
layout: base
---
{% for post in paginator.posts %}
	{% include post.html post = post short = true %}
{% endfor %}

<div class="pagination">
	{% if paginator.previous_page %}<a href="{{ paginator.previous_page_path }}"><i class="fa fa-long-arrow-right"></i> مطالب جدیدتر </a>{% endif %}
	{% if paginator.previous_page %} {%if paginator.next_page %} <span class="sep"></span> {% endif %}{% endif %}
	{% if paginator.next_page %}<a href="{{ paginator.next_page_path }}">مطالب قدیمی‌تر <i class="fa fa-long-arrow-left"></i> </a>{% endif %}
</div>